*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    background-color: aliceblue;
    font-family:'Noto serif tc';
}

.bg-primary{
    background-color: rgb(141, 132, 119) ;
    background-color: url(../assets/img/bg-star.jpg.jpg) !important;

}

p.redred{
    background-color: rgba(182, 118, 44, 0.5);
    color:rgb(255, 255, 255);
    border: 10px solid rgb(112, 45, 0);
    background-image: url(../assets/img/profile.jpg);
    font-size: 40px;
    text-align: center;
}

.blueblue{
    color:crimson;
}

.expedu_icon{
    color:rgb(33, 80, 133);
}

.expedu_icon:hover{
    background-color:rgb(33, 80, 133);
    color:rgb(255, 255, 255)
}