*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    background-color: aliceblue;
    font-family:'Noto serif tc';
}

.bg-primary{
    background-color: rgb(179, 149, 104) !important;
    background-image: url(../assets/img/bg2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

div.redred{
    padding: 10px 50px 15px;
    background-color: rgba(44, 182, 108, 0.5);
    color:rgb(255, 255, 255);
    border: 5px solid rgb(97, 70, 165);
    border-radius: 5px;
    margin: 0px 0px 10px;

    background-image: url(../assets/img/bg-star.jpg.jpg);
    font-size: 40px;
    text-align: center;
}

.blueblue{
    color:rgb(220, 140, 41);
}

.expedu_icon{
    color:rgb(33, 80, 133);
}

.expedu_icon:hover{
    background-color:rgb(33, 80, 133);
    color:rgb(255, 255, 255)
}

ol.alicelist{
    list-style-type: upper-alpha;
}
ol.alicelist>li:hover{
    background-color: aquamarine;
    color: brown;
}

table.alicetable{
    width: 50%;
    background-color: rgb(244, 255, 184);
}

table.alicetable th{
    text-align: center;
    background-color: black;
    color: white;
    border: 1px solid #949449;
}

table.alicetable td{
    text-align: center;
    border: 1px solid #949449;
}

table.alicetable tr:nth-child(even){
    background-color: antiquewhite;
}

.alice80{
    width: 80%;
    margin: 0px auto;
}

.overflowtest{
    background-color: rgb(204, 245, 246);
    color: rgb(74, 82, 89);
    padding: 10px;
    border-radius: 15px;
    margin: 15px auto;
    height: 300px;
    overflow: scroll;
}